<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>korczak.xyz</title>
  </head>
  <body>
    <h1><a href="/">korczak.xyz</a></h1>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/songs">Songs</a></li>
      </ul>
    </nav>
    <slot />
  </body>
</html>
