---
import ThemeIcon from "../components/ThemeIcon.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>korczak.xyz</title>
  </head>
  <body>
    <header>
      <h1><a href="/">korczak.xyz</a></h1>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/songs">Songs</a></li>
        </ul>
      </nav>
      <ThemeIcon />
    </header>

    <slot />
  </body>
</html>
<style>
  body {
    background-color: #f0f0f0;
    color: #111111;
    a {
      color: #131313;
    }
  }

  :global(.dark) {
    body {
      background-color: #111111;
      color: #f0f0f0;
    }
    a {
      color: #f0f0f0;
    }
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  h1 {
    margin: 0;
  }

  nav {
    margin-left: auto;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
</style>
