---
import { getCollection, render } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import PageContent from '../../../components/PageContent.astro';
import '../../../styles/blog-post.css';

export async function getStaticPaths() {
  const posts = await getCollection('blog-pl', ({ data }) =>
    data.published
  );

  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title} | korczak.xyz`} lang="pl">
  <PageContent title={post.data.title}>
    <section class="blog_post" itemprop="articleBody">
      <Content />
    </section>
  </PageContent>
</Layout>
