---
import Layout from '../layouts/Layout.astro';
import PageContent from '../components/PageContent.astro';
import BigButton from '../components/BigButton.astro';
import { buttons } from '../data/buttons';
import { useTranslations } from '../i18n';

const t = useTranslations('en');
---

<Layout title="korczak.xyz" lang="en">
  <PageContent title={t('Home')}>
    <ul class="flex flex-col justify-center gap-4">
      {buttons.map(button => (
        <li>
          <BigButton {...button} />
        </li>
      ))}
    </ul>
  </PageContent>
</Layout>
