---
import Layout from '../../layouts/Layout.astro';
import PageContent from '../../components/PageContent.astro';
import BigButton from '../../components/BigButton.astro';
import { buttonsPl } from '../../data/buttons';
import { useTranslations } from '../../i18n';

const t = useTranslations('pl');
---

<Layout title="korczak.xyz" lang="pl">
  <PageContent title={t('Home')}>
    <ul class="flex flex-col justify-center gap-4">
      {buttonsPl.map(button => (
        <li>
          <BigButton {...button} />
        </li>
      ))}
    </ul>
  </PageContent>
</Layout>
