html.dark {
  /* Code blocks */
  /* Inline code */
}
html.dark code[class*='language-'],
html.dark pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
html.dark pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
html.dark :not(pre) > code[class*='language-'],
html.dark pre[class*='language-'] {
  background: #2d2d2d;
}
html.dark :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
html.dark .token.comment,
html.dark .token.block-comment,
html.dark .token.prolog,
html.dark .token.doctype,
html.dark .token.cdata {
  color: #999;
}
html.dark .token.punctuation {
  color: #ccc;
}
html.dark .token.tag,
html.dark .token.attr-name,
html.dark .token.namespace,
html.dark .token.deleted {
  color: #e2777a;
}
html.dark .token.function-name {
  color: #6196cc;
}
html.dark .token.boolean,
html.dark .token.number,
html.dark .token.function {
  color: #f08d49;
}
html.dark .token.property,
html.dark .token.class-name,
html.dark .token.constant,
html.dark .token.symbol {
  color: #f8c555;
}
html.dark .token.selector,
html.dark .token.important,
html.dark .token.atrule,
html.dark .token.keyword,
html.dark .token.builtin {
  color: #cc99cd;
}
html.dark .token.string,
html.dark .token.char,
html.dark .token.attr-value,
html.dark .token.regex,
html.dark .token.variable {
  color: #7ec699;
}
html.dark .token.operator,
html.dark .token.entity,
html.dark .token.url {
  color: #67cdcc;
}
html.dark .token.important,
html.dark .token.bold {
  font-weight: bold;
}
html.dark .token.italic {
  font-style: italic;
}
html.dark .token.entity {
  cursor: help;
}
html.dark .token.inserted {
  color: green;
}
