<div class="page-content">
  <div class="page-inner">
    <header class="page-header">
      <h1 class="page-title" data-i18n="About">About</h1>
    </header>
    <main>
      <div class="about-content">
        <img src="/assets/images/oskar-korczak.jpg" alt="Oskar Korczak" class="about-image">
        <p data-i18n="about.p1">As a software development expert with 4 years of experience, I've built a unique skill set that spans Python, JavaScript, Java, Bash, SQL, and C#. Also, I've developed a strong foundation in DevOps practices, leveraging tools like Docker and Kubernetes to create efficient and scalable applications.</p>
        <p data-i18n="about.p2">Throughout my journey, I've devoted myself to inspiring growth in others, sharing my knowledge as an experienced teacher and mentor. Being a part of numerous successful projects has helped me understand what works best when collaborating with diverse teams.</p>
        <p data-i18n="about.p3">Let's join forces as we continue honing our skills and pushing the boundaries of software development. Connect with me, and together we'll harness the power of code to create lasting impact!</p>
      </div>
    </main>
  </div>
</div>
