---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>korczak.xyz</h1>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/songs">Songs</a></li>
    </ul>
  </nav>
</Layout>
